.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.npy
data/audio/
data/lyrics/
data/temp_gtzan/
data/temp_magna/
data/kaggle_downloads/
data/raw/
data/**/*.tar
data/**/*.tar.gz
data/**/*.zip
data/**/*.7z
*.wav
*.mp3
*.flac
ffmpeg.exe
*.pt
.DS_Store
Thumbs.db
.claude/
